* { box-sizing: border-box; }
body { background-color: #4e4d49; margin: 0; padding: 0; padding: 8px; font-size: 16px; font-family: "Lora", serif; }
#message, #markdown, #html { padding: 8px; border-radius: 4px; line-height: 1em; }
#markdown { width: calc(50% - 4px); height: calc(100vh - 56px); float: left; color: #191815; background: #ece4cd; }
#markdown textarea { width: 100%; height: 100%; resize: none; border: 0; background: transparent; color: inherit; font-size: inherit; font-family: inherit; }
#markdown textarea:focus { outline: 0; }
#html { width: calc(50% - 4px); height: calc(100vh - 56px); float: right; color: #191815; background: #ece4cd; overflow: auto; overflow-y: auto; }
#message { display: none; margin-top: 8px; color: #f8f2e1; background: #666155; }
#clear { clear: both; }

#html > *:first-child { margin-top: 0; }
#html h1 { font-size: 3em; font-weight: bold; line-height: 1em; margin: 1em 0 .33em 0; }
#html h2 { font-size: 2em; font-weight: bold; line-height: 1em; margin: 1em 0 .5em 0; }
#html h3 { font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 1em 0 .67em 0; }
#html p { margin: 1em 0 1em 0; }
#html ul, #html ol { list-style-position: outside; margin: 1em 0 1em 2em; padding: 0; }
#html ul { list-style-type: disc; }
#html ol { list-style-type: decimal; }
#html li { margin: .25em 0 .25em 0; }
#html li > ul, #html li > ol { margin-top: .25em; margin-bottom: .25em; }
#html quote { display: block; margin: 1em 0 1em 2em; }
#html code { display: block; margin: 1em 0 1em 2em; font-family: "Oxygen Mono", monospace; white-space: pre; }
#html a { text-decoration: none; color: blue; }
#html a:hover { text-decoration: underline; }
