@font-face { font-family: "Cambria"; src: url("cambria.ttf"); }
@font-face { font-family: "CambriaMath"; src: url("cambriamath.ttf"); }

:root { --dark: #000000; --medium: #777777; --light: #ffffff; }
* { box-sizing: border-box; -webkit-font-smoothing: antialiased; -webkit-text-stroke: 0.45px; }
body { background-color: var(--light); color: var(--dark); margin: 0; padding: 0; font-family: "Cambria", serif; font-size: 14px; letter-spacing: .05em; font-variant-ligatures: none; }

#message { display: none; position: fixed; width: 100%; padding: 16px; text-align: center; z-index: 2; background: var(--dark); color: var(--light); }
#content { width: 100%; height: 100%; min-height: 100vh; text-align: center; background-color: var(--light); color: var(--dark); }

#title { margin: 0 auto; max-width: 1024px; padding: 16px; border-bottom: 1px solid var(--dark); text-align: center; line-height: 1em; font-size: 3em; }
#buttons { margin: 0 auto; max-width: 1024px; border-bottom: 1px solid var(--dark); }
#buttons a { display: inline-block; margin: 4px; height: 24px; }

#list { padding: 16px; text-align: center; font-size: 2em; }
#list li { list-style-type: none; }
#list li a { text-decoration: none; color: var(--dark); }
#list li a:hover { text-decoration: underline; }

#new { padding: 16px; text-align: center; }
#new input { margin-right: 16px; font-size: 2em; width: 70%; max-width: 400px; }
#new a { text-decoration: none; color: var(--dark); font-size: 2em; }
#new a:hover { text-decoration: underline; }

#mde { width: 100%; height: calc(100vh - 130px); vertical-align: top; border: 0; outline: 0; padding: 16px; }
#mde + #html { display: none; height: calc(100vh - 130px); vertical-align: top; }
#title + #html { margin: 0 auto; width: auto; max-width: 1024px; }

#html { padding: 16px; text-align: left; }
#html > *:first-child { margin-top: 0; }
#html h1 { font-size: 2em; font-weight: bold; line-height: 1em; margin: 1em 0 .33em 0; }
#html h2 { font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 1em 0 .5em 0; }
#html h3 { font-size: 1.25em; font-weight: bold; line-height: 1em; margin: 1em 0 .67em 0; }
#html p { margin: 1em 0 1em 0; }
#html ul, #html ol { list-style-position: outside; margin: 1em 0 1em 2em; padding: 0; }
#html ul { list-style-type: disc; }
#html ol { list-style-type: decimal; }
#html li { margin: .25em 0 .25em 0; }
#html li > ul, #html li > ol { margin-top: .25em; margin-bottom: .25em; }
#html quote { display: block; margin: 1em 0 1em 2em; }
#html code { display: block; margin: 1em 0 1em 2em; font-family: "Oxygen Mono", monospace; white-space: pre; }
#html a { text-decoration: none; color: blue; }
#html a:hover { text-decoration: underline; }
#html hr { border: 0; border-top: 1px solid black; }
#html .math { font-family: CambriaMath; line-height: 1em; }

@media (min-width: 1024px) {
	body { font-size: 18px; }
	#title { font-size: 4em; }
	#buttons #swapButton { display: none; }
	#mde { display: inline-block; width: 40%; }
	#mde + #html { display: inline-block; width: 40%; overflow-y: scroll; }
	#html { width: 1024px; margin: auto; }
	#html h1 { font-size: 3em; }
	#html h2 { font-size: 2em; }
	#html h3 { font-size: 1.5em; }
}