* { box-sizing: border-box; }
body { margin: 0px; background-color: #2f2e2c; color: #ece4cd; font-family: sans-serif; font-size: 24px;}
h1, h2, h3, h4, h5, p, li { font-weight: normal; }

input[type=text], input[type=submit] { }
input, button { background: #ece4cd; color: #4e4d49; height: 24px; font-size: 16px; line-height: 24px; border: 0px; border-radius: 2px; vertical-align: top; }

#list { width: 320px; min-height: 100vh; margin: auto; padding: 1em; background: #4e4d49; border-left: 2px solid #666155; border-right: 2px solid #666155; }
#list .new_item input[type=text] { float: left; }
#list .new_item input[type=submit] { float: right; }
#list .item, #list .new_item { margin-bottom: .25em; margin-top: .25em; overflow: auto; }
#list .item .view_button { float: left; }
#list .item .view_button input[type=submit] { display: inline-block; height: 1.25em; background: none; color: inherit; }
#list .item .delete_button, #list .item .edit_button { float: right; margin-left: .25em; }
#list input[type=image] { width: auto; height: 1.25em; }
@media (max-width: 319px)
{
	#list { width: 100vw; border: 0px; }
}

#edit { max-width: 100%; }
#edit #buttons { position: fixed; top: 0px; width: 100vw; height: 24px; background: #2f2e2c; vertical-align: top; font-size: 0; line-height: 16px; }
#edit #buttons button { margin-right: .25em; padding: 0 .25em; }
#edit #buttons button:active { background: #666155; }

#content { background: #4e4d49; margin-top: 1em; min-height: calc(100vh - 1em); color: #ece4cd; max-width: 100%; overflow-y: auto; }
#content:focus { outline: 0; }
#content :empty { display: block; height: 1em; }

#content p { margin-top: 1em; margin-bottom: 1em; }
#content p.quote { margin-left: 2em; }
#content p.code { margin-left: 2em; font-family: monospace; white-space: pre; }