* { box-sizing: border-box; }

body { width: 640px; height: 100vh; margin: 0 auto; background-color: #2f2e2c; color: #ece4cd; font-family: sans-serif; font-size: 16px; line-height: 1.25em; }
@media (max-width: 1023px)
{
	body { width: 100%; }
}

#header { width: inherit; height: 1.5em; margin-left: auto; margin-right: auto; background: #4e4d49; line-height: 1.5em; }
#content { width: inherit; height: calc(100% - 1.5em); background: #767266; color: #ece4cd; max-width: 100%; overflow-y: auto; }

.left { float: left; margin-left: .125em; }
.right { float: right; margin-right: .125em; }

input, button { height: 1.25em; margin-top: .125em; padding: .125em; background: #ece4cd; color: #4e4d49; font-size: 1em; line-height: 1em; border: 0; border-radius: .125em; vertical-align: top; }
button img { height: 1em; }
input:focus, button:focus { outline-width: 0; }
button:hover { background: #d4cdb8; }

.item { clear: both; }

#content:focus { outline: 0; }
#content h1:empty,
#content h2:empty,
#content h3:empty,
#content p:empty { display: block; height: 1em; }

#content p { margin-top: 1em; margin-bottom: 1em; }
#content p.quote { margin-left: 2em; }
#content p.code { margin-left: 2em; font-family: monospace; white-space: pre; }
h1, h2, h3, h4, h5, p, li { margin-left: 1em; font-weight: normal; }
